*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
}

.html {
    background-color: #fff;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.widthsize{
    max-width: 1140px;
    margin:0 auto;
}


.header{
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.logo{
    height: 100px;
    width: auto;
    margin-top: 20px;
}

.main-nav{
    list-style: none;
    background-color: brown;
    font-size: 120%;
    border-right: 1px solid #bbb;
}

.main-nav li{
    display: inline-block;
    margin-left: 20px;
    padding: 15px;
    border-right:1px solid #bbb;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom;
}

li:last-child {
    border-right: none;
    float: right;
}

.searchbar{
    float: right;
    margin-top: 80px;
    padding: 10px;
}


.logo-mini{
    height: 20px;
}

.last-mini-logo{
    height: 20px;
    width: 30px;
    margin-left: 5px;
}

.section-style{
    margin-top: 40px;

}

h2 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    margin-top: 10px;
}

/* CSS card section */

.card{
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: left;
    width:360px;
    font-size: 16px;
    margin: 30px;
    height: 400px;
    background-color: #ebeef8;
}

.card-wrapper{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.heading{
    margin-right: -3px;
    text-align: center;
    font-size: 50px;
    color: #333;
    font-family: fantasy;
}

.card-img{
    height: 200px;
}

.container{
    height: 100px;
    color: #ffffff;
    margin-top: 30px;
}

.card h2{
    text-align: center;
    color: #333;
}


@media screen and (min-width: 500px){
    .card-wrapper{
        width: 100%;
        float: left;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

/* section edn*/

footer {
        background-color: #fff8f8;
        position: relative;
        height: 100px;
        margin-top: -100px;
        clear: both;
        padding: 60px;
    }

.social-links{
        list-style: none;
        float: right;
    }

.social-links li{
        display: inline-block;
        margin-right: 20px;
    }
